.ui.container
	//-.mobile.only.ui.grid
	.ui.grid
		.column
			.ui.fluid.multiple.search.selection.dropdown
				input(id='tag', type='hidden')
				i.dropdown.icon
				.default.text Select Categories
				#mymenu.menu
					.item(data-value='management')
						i.dollar.sign.icon
						| Management
					.item(data-value='design')
						i.edit.icon
						| Design
					.item(data-value='development')
						i.desktop.icon
						| Development
					.item(data-value='pug')
						i.paw.icon
						| Pug
					.item(data-value='trinity')
						i.file.code.icon
						| HTML/CSS/&#8203;JavaScript
	//-#menu.computer.only.tablet.only.doubling.stackable.equal.width.six.column.center.aligned.middle.aligned.ui.grid.container
		.column
			a.ui.tiny.secondary.inverted.button(href='#') All Articles
		.column
			a.ui.tiny.secondary.inverted.button(href='#('management') For Managers
		.column
			a.ui.tiny.secondary.inverted.button(href='#('design') For Designers
		.column
			a.ui.tiny.secondary.inverted.button(href='#('development') For Developers
		.column
			a.ui.tiny.secondary.inverted.button(href='#('pug') About Pug
		.column
			a.ui.tiny.secondary.inverted.button(href='#('trinity') HTML/CSS/&#8203;JavaScript
.ui.container
	| &nbsp;

script.
	loadjs.ready('core', function() {
		if (!loadjs.isDefined('dropdown')) //need this for tsrouter.js
			{
				loadjs([
					'/plugin/dropdown/assets/css/dropdown.css'
				],'dropdown', {async: false})
			}
			else
				loadjs.done('dropdown')
	})	

	loadjs.ready(['style','dropdown'], function() {
		var tag = location.href.split('#')[1];
		console.log('done with style, dropdown, reading tag'+tag)
		if (tag) {
			$('#tag').val(tag)
		}
		$('.ui.dropdown').dropdown({
			transition: 'drop',
			action: 'activate',
			onChange: function(value, text, $selectedItem) {
				location.hash = '#'+value //does not trigger render, so we need to :
				history.pushState({url: location.href}, '', location.href) //simulate history writing
				render(value) //and render fitlered data
			}
		})
	})


