first-tag
	p oh hi
	p { num }

	script.
		//	http://bleedingedgepress.com/building-apps-with-riot
		console.log('loaded')

		doSomething(arg) {
			console.log('XXX ', arg)
			this.update({num: arg})
		}
