extends /layout/_layout
//- App Shell

block head
	title #{title}

block main
	script(src='tags/first-tag.js')
	p
	br
	p
	.ui.text.container
		h2 #{title}
		first-tag

	script.
		// line 8 loads the tag
		// nbake -t .
		let firstTag = riot.mount('first-tag')[0] // the first tag
		firstTag.doSomething(21)

