doctype html
html
	head
		include _header
		block head
		style.
			html { opacity: 0; background-position:-9999px;}
			
		script.
			let _start=Date.now()
	body.bg
		script(src='//cdn.jsdelivr.net/npm/loadjs@3.5.4/dist/loadjs.min.js')
		script(src='/assets/js/setup.js')

		.top
			include _top
		.pusher
			block main
					
		.ui.inverted.vertical.footer.segment
			.ui.container Footer here

		//-link(rel='stylesheet', href='/assets/css/semantic.min.css', onload='cssLoaded()')
		link(rel='stylesheet', href='//cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css', onload='cssLoaded()')

		script.
			console.log('layout')

			loadjs.ready('style', function() {
				$('.bg').css('background-position','center')
					
				setTimeout(function(){
					document.getElementsByTagName('html')[0].style.opacity = 1
					console.log(Date.now()-_start)//time to show 
				},1000/15)// 2 frames at 30fps
				
				//$('.ui.sidebar').sidebar('attach events', '.toc.item')
			
			})//ready

