.ui.container
	#menu.doubling.stackable.equal.width.six.column.center.aligned.middle.aligned.ui.grid.container
		.column
			a.ui.tiny.secondary.inverted.button(href='#') All Articles
		.column
			a.ui.tiny.secondary.inverted.button(href='#management') For Managers
		.column
			a.ui.tiny.secondary.inverted.button(href='#design') For Designers
		.column
			a.ui.tiny.secondary.inverted.button(href='#development') For Developers
		.column
			a.ui.tiny.secondary.inverted.button(href='#pug') About Pug
		.column
			a.ui.tiny.secondary.inverted.button(href='#trinity') HTML/CSS/&#8203;JavaScript
.ui.container
	| &nbsp;
