

.ui.container
	.ui.computer.only.doubling.grid(style='height:9em')
		.middle.aligned.five.wide.column
			a.large(href='https://blog.nbake.org', style='color:white;') Visit nbake.org
		.middle.aligned.center.aligned.six.wide.column
			a(href='/home/')
				h3
					img.ui.middle.aligned.tiny.image(src='/assets/img/pawW.svg')
					img.ui.middle.aligned.small.image(src='/assets/img/wordpugW.svg')
					//-span(style='color:#C4DC0A;text-shadow: 1px 0 0 #373636, 0 -1px 0 #373636, 0 1px 0 #373636, -1px 0 0 #373636;') word
					//-span(style='color:#F5F5F5;') pug
					span(style='color:#C4DC0A;') &nbsp;blog

		.middle.aligned.right.aligned.five.wide.column
			.ui.inverted.button Subscribe
	.ui.tablet.only.doubling.grid(style='height:9em')
		.middle.aligned.eight.wide.column
			a(href='/home/')
				h3
					img.ui.middle.aligned.tiny.image(src='/assets/img/pawW.svg')
					img.ui.middle.aligned.small.image(src='/assets/img/wordpugW.svg')
					span(style='color:#C4DC0A;') &nbsp;blog
		.middle.aligned.right.aligned.eight.wide.column
			.ui.large.inverted.button
				| Subscribe
	.ui.mobile.only.doubling.grid(style='height:9em')
		.middle.aligned.thirteen.wide.column
			a(href='/home/')
				h3
					img.ui.middle.aligned.tiny.image(src='/assets/img/pawW.svg')
					img.ui.middle.aligned.small.image(src='/assets/img/wordpugW.svg')
					span(style='color:#C4DC0A;') &nbsp;blog
		.middle.aligned.right.aligned.three.wide.column
			.ui.large.inverted.icon.button(data-tooltip='Subscribe', data-position='bottom right')
				i.tag.icon



//-side
//-.ui.fixed.vertical.inverted.sidebar.menu
	a.active.item(href='/page/one') 
		i.left.icon.star
		| One
	a.item(href='/page/two')
		i.left.icon.book
		| Two
	a.item(href='/blog')
		i.left.icon.book
		| Blog


//-top
//-.ui.fixed.inverted.menu
	.ui.container
		a.toc.item
			i.sidebar.icon
		.item MySite

		a.item(href='/page/one') One
		a.item(href='/page/two') Two
		a.item(href='/blog') Blog
	.right.menu
		a.item(href='https://github.com/topseed/topseed-blog') Git

